.switcher-cont {
  z-index: 900;
  position: fixed;
  left: 2vw;
  bottom: 7vh; // One third from the bottom of the viewport
  padding: 3rem;
  

  .switcher-btn {
    background-color: transparent;
    border: none;

    .access-img {
      width: 30px;
      cursor: pointer;
      &:hover {
        width: 50px;
      }
    }
  }
}
