div {
  position: relative;

  dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    top: 1rem;
    left: 1rem;

    z-index: 1000;
    /* Aggiunto z-index per assicurare che il dialog appaia sopra altri elementi */

    @media only screen and (min-width: 768px) {
      left: 28rem;
      padding: 2rem 2rem;
      top: -5rem;
      border: 1px solid white;
      width: 10rem;
      letter-spacing: 0.1rem;
    }

    .closing-btn {
      align-self: flex-end;
      display: block;
      width: min-content;
      font-size: 1rem;
      background-color: transparent;
      padding: 0;

      &:hover {
        background-color: transparent;
        padding: 0;
        color: gray;
      }

      @media only screen and (min-width: 768px) {
        top: 0;
        background-color: transparent;
        right: 0;
        left: 5rem;
        bottom: 40rem;
        font-size: 1rem;
      }
    }

    div {
      span {
        display: flex;
        gap: 2rem;

        h3 {
          color: white;
          font-size: 1rem;

          @media only screen and (min-width: 768px) {
            font-size: 1rem;
          }
        }

        img {
          width: 1rem;
        }
      }
    }
  }
}
