@import '../../../style.scss'; 

button {
    border: none;
    font-size: 1rem ;
    width: 6rem;
    padding: 0.1rem 0;
    color: $main-white;
    background-color: $main-black;  
    font-family: $font-family; 
    cursor: pointer;
    &:hover{
         background-color: $secondary-black ; 
    }

          @media only screen and (min-width: 768px) {
              font-size: 1rem;
              padding: 0.8rem 1.1rem;
              width: 18rem;
          }
   
                
}

