@import '../../../style.scss'; 

button {
    border: none;
    margin: 200px;
    font-size: 15px ;
    width: 14rem;
    padding: 0.4rem 0;
    color: $main-white;
    background-color: $main-black;  
    font-family: $main-font; 
    cursor: pointer;
    &:hover{
         background-color: $secondary-black ; 
    }

          @media only screen and (min-width: 768px) {
              font-size: 18px;
              padding: 12px 18px;
              width: 18rem;
          }
   
}

