@import "../../../../style.scss";

.dialog-cont {
  position: relative;

  .dialog-closing-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: white;
    top: 1rem;
    left: 1rem;

    z-index: 1000;
    /* Aggiunto z-index per assicurare che il dialog appaia sopra altri elementi */

    @media only screen and (min-width: 768px) {
      left: 30rem;
      padding: 4rem 3rem;
      top: 8rem;
    }

    .news-closing-btn {
      align-self: flex-end;
      color: $main-black;
      display: block;
      width: min-content;
      font-size: 1rem;
      background-color: transparent;
      padding: 0;

      &:hover {
        background-color: transparent;
        padding: 0;
        color: gray;
      }

      @media only screen and (min-width: 768px) {
        top: 0;
        background-color: transparent;
        right: 0;
        left: 5rem;
        bottom: 40rem;
        font-size: 1rem;
      }
    }

    .dialog-message-cont {
      .dialog-message-subcont {
        display: flex;
        gap: 2rem;

        .dialog-message-title {
          color: $main-black;
          font-size: 1rem;

          @media only screen and (min-width: 768px) {
            font-size: 1rem;
          }
        }

        .dialog-message-img {
          width: 1rem;
        }
      }
    }
  }
}
