@import "../../../style.scss";

.carousel-container {
  /*   background-color: white;
  color: $main-black; */
  &.dark {
    background: $main-black;
    color: $main-white;
    // Add more dark mode styles here
  }
  &.light {
    background: $main-white;
    color: $main-black;
    // Add more light mode styles here
  }
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;

  @media only screen and (min-width: 798px) {
    padding: 3rem;
    justify-content: center;
  }

  .landing-carousel-title {
    width: 100%;
    font-size: 1rem;
    margin-inline-start: 1rem;

    &.light {
      color: $main-black;
    }
    &.dark {
      color: $main-white;
    }

    @media only screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .lp-carousel-subcont {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    margin-inline-start: 1.6rem;
    padding: 2rem 1rem;
  }

  .lp-carousel-item {
    margin-right: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    width: 200px;
    height: 15rem;

    @media only screen and (min-width: 798px) {
      height: 38rem;
      width: auto;
    }

    .lp-carousel-img {
      width: 100%;
      height: 35vb;
      display: block;

      @media only screen and (min-width: 798px) {
        height: 38vw;
        width: 45vw;
      }

      .lp-carousel-description {
        margin-block-start: 0.5rem; // Spazio tra l'immagine e il testo, 0.5rem
      }
    }
  }

  .lp-carousel-link {
    margin-block-end: 2rem;
    text-decoration: none;

    &.light {
      color: $main-black;
    }
    &.dark {
      color: $main-white;
      
    }

    &:hover {
      @include hoverButton;
    }
  }
}
