/* NavBar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_hidden {
    position: absolute;
    width: 100vw;
    margin-top: 17.5em;
    z-index: 99;
}

.categories_hidden {
    width: 100vw;
    height: 6em;
    background-color: #F5EBE0;

    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .category_shirt {
        padding: 1em;
        cursor: pointer;
    }
    .category_pants {
        padding: 1em;
        cursor: pointer;

    }
    .category_shoes {
        padding: 1em;
        cursor: pointer;

    }
    .category_all {
        padding: 1em;
        cursor: pointer;

    }
}


.nav_section {
    width: 100vw;
    background-color: black;
    color: white;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.navbar {
    background-color: #F5EBE0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_center {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: xx-large;
    font-weight: 600;

}

.navbar_categories {
    width: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.navbar_right {
    display: flex;
    flex-direction: row;
    width: 22em;
    justify-content: end;
    padding-right: 2em;
    padding-left: 1em;
}

.navbar_button_item {
    margin: 0.8em;
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 12em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


//Quando la viewport è maggiore di 768 pixel si applicherà questa seguente logica: 
  @media screen and (min-width: 768px) {

    .logo {
        width: 21rem;
        height: 7rem;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar_hidden2 {
        display: none;
    }
  }

//Quando la viewport è minore di 768 pixel si applicherà questa seguente logica: 
  @media screen and (max-width: 768px) {

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .navbar_center {
        align-items: center;
        display: none;
    }

    .logo {
        width: 21em;
        height: 7em;

    }

    .navbar_right {
        display: none;
    }

    .categories_hidden {
        display: none;
    }

    .sidebar_hidden2 {
        width: 25%;
        height: calc(100vh - 18%);
        z-index: 99;
        padding-left: 6vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        background-color: #F5EBE0;
        font-size: x-large;
    }

    .navbar_hidden {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    html, body {
        overflow-x: hidden;
    }
  }
