@import "../../../style.scss";

.discover-cont {
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  overflow-x: hidden;

  &.light {
    background-color: $main-white;
    color: $main-black;
  }
  &.dark {
    background-color: $main-black;
    color: $main-white;
  }

  .discover-title {
    padding-block: 0.3rem;
    position: relative;
    justify-content: center;

    span {
      display: flex;
      position: absolute;
      top: 0.2rem;
      right: 51rem;
      gap: 1rem;
     

      @media only screen and (min-width: 768px) {
        top: 0.5rem;
        left: 30rem;
        width: 100%;
      }

      svg {
        width: 10px;

        @media only screen and (min-width: 768px) {
          width: 30px;
        }

        &.light {
          fill: $main-black;
        }
        &.dark {
          fill: $main-white;
        }
      }

      h2 {
        letter-spacing: 0.2rem;
        align-self: center;
        width: 100%;
        font-size: 0.6rem;

        @media only screen and (min-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    //animation for sliding the text from left to right
    .scroll-text-cont {
      width: 100%;
      overflow: hidden;
      font-size: 1.5rem;
      white-space: nowrap;
      box-sizing: border-box;
      @media only screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }

  .scroll-text-cont p {
    display: inline-block;
    padding-right: 100%;
    letter-spacing: 0.4rem;
    animation: scroll-text 10s linear infinite;
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  video {
    width: 100%;
    height: 100%;
  }

  .discover-subCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    gap: 5rem;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      box-shadow: 0 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
      @media only screen and (min-width: 768px) {
        flex-direction: row;
      }

      img {
        height: auto;
        width: 300px;
        @media only screen and (min-width: 768px) {
          height: 400px;
          width: 400px;
        }
      }
      p {
        width: auto;
        letter-spacing: 0.1rem;
        font-size: 0.6rem;

        @media only screen and (min-width: 768px) {
          width: 300px;
          letter-spacing: 0.2rem;
          font-size: 1rem;
        }
      }
    }

    .discover-extended-cont {
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: fit-content;

      img {
        width: 100%;
      }

      p {
        width: 100%;
        padding-inline: 0.2rem;

        @media only screen and (min-width: 768px) {
          padding-inline: 2.7rem;
        }
      }
    }

    .third-paragraph-cont {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "item3 item3"
        "item2 item2";

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "item1 item2 item3";
        gap: 16px;
      }

      .third-item-first-img {
        grid-area: item1;
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
      .third-paragraph {
        grid-area: item2;
        width: 300px;

        @media (min-width: 768px) {
          width: inherit;
        }
      }
      .third-item-second-img {
        grid-area: item3;
        width: 300px;
        height: auto;
      }
    }
  }
}
