@import '../../../style.scss';


.feature-cont{
    width: 100%;
    height: 100%;
    

    
     .feature-img {
        
        width: 100%;
        height: 100%;
     
    }
    
    .feature-text-cont{
        padding-block:0.2rem 1.5rem;
        padding-inline: 0.5rem;
        line-height: 0.3rem;
        gap: 0.5rem;
        display: flex;
        justify-content: space-around;
        font-size: 0.3rem;
     
        @media screen and (min-width: 768px) {
                line-height: 2rem;
                font-size: 0.7rem;
                padding-block: 1rem 4rem;
                padding-inline: 2rem;
                gap: 1.5rem;
            }
    }

}