.button-component{
    width: 250px;
    padding: 5px;
    color: white;
    background-color: black;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    letter-spacing: 0.3rem;

    &:hover{
        opacity: 0.3;
    }

}