@import "../../style.scss";
.button-component{
    height: 2.5rem;
    width: 250px;
    padding: 5px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    letter-spacing: 0.5rem;
    &.dark{
        background-color: $main-white;
        color: $main-black; 
        border: none;
    }
    &.light{
        background-color: $main-black;
        color: $main-white;
        border: 1px solid $secondary-white;
    }
    &:hover{
        opacity: 0.3;
    }
}